<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <strong> Informacion buscado es:{{query}}</strong>
    <table border="1">
        {% if informacion  %}
            {% for cliente in informacion %}        
            <tr>
              <td>nombre</td> 
              <td>{{cliente.nombre}}</td>
            </tr>
            <tr>
                <td>Apellido paterno</td>
                <td>{{cliente.apparteno}}</td>
            </tr>
            <tr>
                <td>Apellido materno</td>
                <td>{{cliente.apmaterno}}</td>
            </tr>
            <tr>
                <td>Rut</td>
                <td>{{cliente.rut}}</td>
           </tr>
           <tr>
                <td>Edad</td>
                <td>{{cliente.edad}}</td>
            </tr>
            <tr>
                <td>Nombre vacuna</td>
                <td>{{cliente.nombre_vacuna}}</td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>{{cliente.fecha}}</td>
            </tr>
           
            {% endfor %}
        {%else %}
        <h2>No existen clientes...</h2>
        {% endif %}

    </table>
   <br> <a href="/index/">Volver al menú</a>
</body>
</html>